.main-frame {
    width: 70vw;
    margin: 10px auto;
    height: calc(100vh - 75px);
    padding: 10Px;
    background: #fff;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
}
.main-frame .tab_header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 15px 0px;
}
.main-frame .tab_header #title {
    font-size: 23px;
    font-weight: 600;
    line-height: 18px;
}
.main-frame .tab_header #subtitle {
    font-size: 15px;
    font-weight: 400;
    color: #a3a0a0;
}
.main-frame .filter {
    border-radius: 12px;
    height: 40px;
    width: fit-content;
    background: #e3e2e2;
    display: flex;
    gap: 6px;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0px 4px;
}
.main-frame .filter .filter_tab{
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color:#919191;
    cursor:pointer;
}
.main-frame .filter .filter_tab.active {
    background: #fff;
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 500;
    cursor:pointer;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color:#000;
}
.main-frame .main-content {
    width: auto;
    margin-top: 15px;
    height: calc(100vh - 205px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20Px;
    padding: 10px;
    overflow-y: overlay;
}
.main-frame .main-content .asset_card {
    border: 1px solid #E4E4E4;
    height: 250px;
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position:relative;
    overflow:hidden;
    cursor:pointer;
}
.main-frame .main-content #add_asset{
	cursor: unset;
}
.main-frame .main-content .asset_card #card_banner {
    width: 100%;
    height: 122px;
    overflow: hidden;
}
.main-frame .main-content .asset_card #card_banner img{
	width:100%;
}
.main-frame .main-content .asset_card #add_square {
    width: 30Px;
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #E4E4E4;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px 20px;
}
.main-frame .main-content .asset_card #text_content {
    margin: 10px 20px;
}
.main-frame .main-content .asset_card #text_content #title {
    font-size: 17px;
    font-weight: 600;
}
.main-frame .main-content .asset_card #text_content #subtitle {
    font-weight: 500;
    font-size: 15px;
    color: #C4C4C4;
}
.main-frame .main-content .asset_card #add_btn {
    width: fit-content;
    position: absolute;
    bottom: 10%;
    left: 5%;
    border: 1px solid #E4E4E4;
    padding: 5px 20Px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}
.main-frame .main-content .asset_card #card_content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px 10px;
	gap: 10px;
}
.main-frame .main-content .asset_card #card_content #tile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
.main-frame .main-content .asset_card #card_content #tile #right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
	gap: 9px;
}
.main-frame .main-content .asset_card #card_content #tile #right #percentile {
    font-size: 15px;
    font-weight: 600;
}
.main-frame .main-content .asset_card #card_content #tile .battery {
	width: 30px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 5px;
    position: relative;
    padding: 2px;
}
.main-frame .main-content .asset_card #card_content #tile .battery:before {
	content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: -5.5px;
    margin-top: -3px;
    width: 10px;
    height: 7px;
    background: #000;
    clip: rect(0, 10px, 7px, 7.5px);
    border-radius: 50%;
}
.main-frame .main-content .asset_card #card_content #tile .battery .level {
    height: 100%;
    background: #000;
    border-radius: 2px;
}
.main-frame .main-content .asset_card #card_content #tile #left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}
.main-frame .main-content .asset_card #card_content #tile #left #title {
    font-size: 16px;
    font-weight: 600;
}
.main-frame .main-content .asset_card #card_content #tile #left #value {
    font-size: 15px;
    font-weight: 500;
    color: #818181;
}
.main-frame .main-content .asset_card #card_tag {
    position: absolute;
    bottom: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0px 10px;
}
.main-frame .main-content .asset_card #card_tag #tag {
    display: flex;
    gap: 8px;
    border: 1px solid #E4E4E4;
    padding: 3px 10px;
    border-radius: 10px;
}