.main-frame {
	height: calc(100vh - 75px);
    width: calc(75vw - 70px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
	transition:all 0.2s linear; 
	-o-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear; 
	-webkit-transition:all 0.2s linear;
    margin: 10px 0px;
}
.main-frame.active {
    width: calc(100vw - 50px);
	transition:all 0.2s linear; 
	-o-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear; 
	-webkit-transition:all 0.2s linear;
}
.main-frame #frame_header {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0px 20px 10px;
    border-bottom: 2px solid #E4E4E4;
    justify-content: space-between;
    
}
.main-frame #frame_header #title {
    font-size: 20px;
    font-weight: 600;
}
.main-frame #frame_header #add {
    width: 84Px;
    height: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background: #0071FF;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    cursor:pointer;
    border:none;
}
.main-frame #frame_header #add p{
	margin-left:10px;
}
.main-frame #filter_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 20px;
}
.main-frame #filter_header #left .filter {
    padding: 10px;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    border: 2px solid #E4E4E4;
    cursor: pointer;
}
.main-frame #filter_header #left .filter:focus{
	outline:none;
	border-color:#0071ff;
}
.main-frame #filter_header #right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.main-frame #filter_header #right #sort {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    cursor:pointer;
}
.main-frame #filter_header #right #sort #tite {
    font-size: 15px;
    font-weight: 600;
    color: #616161;
}
.main-frame #filter_header #right #sort #value {
    font-size: 16px;
    font-weight: 600;
}
.main-frame  #main_content {
	width: auto;
    height: calc(80vh - 14px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 20px;
    gap: 15px;
    overflow-y: overlay;
}
.main-frame  #main_content #employee_card {
	background: #fff;
    width: 249px;
    height: 310px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.main-frame  #main_content #employee_card:hover{
	outline:none;
	border: 2px solid #0071ff;
}
.main-frame  #main_content #employee_card #card_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 5px;
	justify-content: flex-end;
}
.main-frame  #main_content #employee_card #card_header #image_wrapper {
    height: 33px;
    width: 33px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background: #eeeeee;
    border-radius: 10px;
    cursor: pointer;
    position:relative;
}
.main-frame  #main_content #employee_card #card_header #image_wrapper .employeeTabOptions {
	background: #fff;
    position: absolute;
    border: 1px solid #E4E4E4;
    top: 100%;
    z-index: 1;
    margin-top: 5px;
    width: 200px;
    left: 10%;
    flex-direction: column;
}
.main-frame  #main_content #employee_card #card_header #image_wrapper .employeeTabOptions #tile{
	display: flex;
    gap: 10px;
    height: 40px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0px 10px;
    border-bottom: 1px solid #E4E4E4;
    cursor: pointer;
}
.main-frame  #main_content #employee_card #card_header #image_wrapper .employeeTabOptions #tile:hover{
	background:#F9F9F9;
}
.main-frame  #main_content #employee_card #card_header #image_wrapper .employeeTabOptions #tile #title {
    font-size: 15px;
    font-weight: 500;
}
.main-frame  #main_content #employee_card #client_image {
    align-self: center;
    position:relative;
    cursor: pointer;
}
.main-frame  #main_content #employee_card #client_image #client_image_wrapper {
    width: 115px;
    height: 115px;
    border: 5px solid #E4E4E4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow:hidden;
}
.main-frame  #main_content #employee_card #client_image #status {
    width: 16px;
    height: 16px;
    border: 5px solid #c2e098;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    right: 8%;
    background: #fff;
}
.main-frame  #main_content #employee_card #client_info {
    align-self: center;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}
.main-frame  #main_content #employee_card #client_info #client_name {
    font-size: 16px;
    font-weight: 600;
}
.main-frame  #main_content #employee_card #client_info #client_email {
    font-size: 14px;
    font-weight: 500;
    color: #C4C4C4;
}
.main-frame  #main_content #employee_card #score_line {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-self: center;
    width: 80%;
    gap: 5px;
    margin-top: 15px;
}
.main-frame  #main_content #employee_card #score_line .hor_line {
    height: 8px;
    background: #eee;
    width: -webkit-fill-available;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1px;
}
.main-frame  #main_content #employee_card #score_line .hor_line .line_value {
    height: 6px;
    border-radius: 5px;
}
.main-frame  #main_content #employee_card #score_line .hor_line #value_1{
	background:#0166d6;
	width:100%;
}
.main-frame  #main_content #employee_card #score_line .hor_line #value_2{
	background:#0071ff;
	width:100%;
}
.main-frame  #main_content #employee_card #score_line .hor_line #value_3{
	background:#cdc9ff;
	width:40%;
}
.main-frame  #main_content #employee_card #score_line  #text_value {
    font-size: 14px;
    font-weight: 600;
    color: #C4C4C4;
}
.main-frame  #main_content #employee_card #position {
    background: #ededed;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    font-size: 15px;
    color: #616161;
    font-weight: 500;
}
.side_bar {
	margin-right: -25vw;
    margin-top: 10px;
    width: 25vw;
    background: #fff;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    height: calc(100vh - 75px);
    margin-bottom: 10px;
	transition:all 0.2s linear; 
	-o-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear; 
	-webkit-transition:all 0.2s linear;
}
.side_bar.active{
	margin-right:10px;
	margin-left:10px;
	transition:all 0.2s linear; 
	-o-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear; 
	-webkit-transition:all 0.2s linear;
}
.side_bar #tab_header {
    display: flex;
    padding: 10px 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.side_bar #tab_header #title {
    font-size: 15px;
    font-weight: 500;
}
.side_bar #tab_header #image_wrapper {
    height: 33px;
    width: 33px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background: #eeeeee;
    border-radius: 10px;
    cursor: pointer;
}
.side_bar #member_info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    padding: 0px 20px;
    align-items: center;
}
.side_bar #member_info #member_image {
	position:relative;
}
.side_bar #member_info #member_image #client_image_wrapper {
    width: 115px;
    height: 115px;
    border: 5px solid #E4E4E4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow:hidden;
}
.side_bar #member_info #member_image #status {
    width: 16px;
    height: 16px;
    border: 5px solid #c2e098;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    right: 8%;
    background: #fff;
}
.side_bar #member_info  #member_details {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
	width: 100%;
}
.side_bar #member_info  #member_details #member_name {
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 217px;
}
.side_bar #member_info #member_details #sec_info {
        display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 9px;
    font-size: 15px;
    font-weight: 500;
    color: #C4C4C4;
}
.side_bar #member_info #member_details #sec_info #options {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.side_bar #member_info #member_details #sec_info #options #image_wrapper {
    height: 33px;
    width: 33px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background: #eeeeee;
    border-radius: 10px;
    cursor: pointer;
}
.side_bar #stat_wrapper {
    padding: 0px 20px;
    height: 22vh;
}
.side_bar #review_list {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 15px 10px 0px;
    overflow-y: auto;
    height: 36vh;
    overflow-x: hidden;
}
.content .side_bar  #reviews_header {
    font-size: 15px;
    font-weight: 600;
    padding: 0px 10px 10px;
    border-bottom: 2px solid #E4E4E4;
}
.content .side_bar  #review_list #review {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100px;
}
.content .side_bar  #review_list #review #renter {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.content .side_bar  #review_list #review #renter #verticatl_line {
    border: none;
    border-left: 2px dotted #71c050;
    color: #fff;
    background-color: #fff;
    width: 1px;
    height: 60px;
}
.content .side_bar  #review_list #review #renter #renter_image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.content .side_bar  #review_list #review #content {
	display: flex;
    flex-direction: column;
    padding-left: 5px;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.content .side_bar  #review_list #review #content #renter_name {
    font-size: 17px;
    font-weight: 600;
}
.content .side_bar  #review_list #review #content #review_content {
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.content .side_bar  #review_list #review #content #date {
    font-size: 14px;
    color: #C4C4C4;
    font-weight: 500;
}
.add_employee {
	position: absolute;
    top: 50%;
    display: flex;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: 1px solid #E4E4E4;
    border-radius: 10px;
    width: auto;
    height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    z-index: 2;
}
.add_employee  #tab_header {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
	margin-bottom: 15px;
}
.add_employee  #tab_header #left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}
.add_employee  #tab_header #left #text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.add_employee  #tab_header #left #text #title {
    font-size: 17px;
    font-weight: 600;
    line-height:16px;
}
.add_employee  #tab_header #left #text #subtitle {
    font-weight: 400;
    font-size: 14px;
    color: #C4C4C4;
}
.add_employee  #tab_header #right #image_wrapper {
    height: 33px;
    width: 33px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background: #eeeeee;
    border-radius: 10px;
    cursor: pointer;
}
.add_employee #error_banner {
    flex-direction: row;
    flex-wrap: nowrap;
    border: 2px solid #F5413D;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 0px 10px;
    height: 40px;
    align-items: center;
    margin-bottom: 10px;
}
.add_employee #error_banner #text {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    color: #F5413D;
}
.add_employee #email_role {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.add_employee #email_role #email {
	height: 40px;
    width: 250px;
    border: 1px solid #E4E4E4;
    border-radius: 0px 5px 5px 0px;
    background: #F9F9F9;
    padding: 0px 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    border-left: none;
}
.add_employee #email_field {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.add_employee #email_field #at_symbol {
	height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: #F9F9F9;
    align-items: center;
    justify-content: center;
    border: 1px solid #E4E4E4;
    border-radius: 5px 0px 0px 5px;
    border-right: none;
    padding-left: 10px;
}
.add_employee #email_role #email::placeholder{
	font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;	
}
#at_symbol + #email:focus{
	outline:none;
	border-color: #0071ff;
}
.add_employee #email_role #filter {
    height: 40px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    width: 145px;
    padding: 0px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    cursor:pointer;
    font-weight: 500;
}
.add_employee #email_role #filter:focus{
	outline:none;
	border-color: #0071ff;
}
.add_employee #passwords {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    gap: 30px;
}
.add_employee #passwords .pass{
	height: 40px;
    width: 202px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    background: #F9F9F9;
    padding: 0px 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
}
.add_employee #passwords .pass::placeholder{
	font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;	
}
.add_employee #passwords .pass:focus{
	outline:none;
	border-color: #0071ff;
}
.add_employee #location_select {
	display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    margin: 5px 10px;
    height: 45px;
    cursor:pointer;
}
.add_employee #location_select #title {
    font-size: 15px;
    font-weight: 500;
    border:none;
    cursor:pointer;
}
.add_employee #location_select #title:focus{
	outline:none;
}
.add_employee #locations_List {
    margin: 0px 10px;
    padding: 0px 20px;
    border: 1px solid #E4E4E4;
    overflow-y: overlay;
    height: auto;
    max-height: 30vh;
}
.add_employee #locations_List #location_tile {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #E4E4E4;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
}
.add_employee #sub_btn {
	width: 120Px;
	margin-top: 15Px;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background: #0071FF;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    align-self: flex-end;
}
.add_employee #sub_btn p{
	margin-left:10px;
}
.delete_confirmation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
	padding: 10px 0px 20px;
}
.delete_confirmation #tab_header {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.delete_confirmation #sec_header {
    align-self: center;
    padding: 10px 20px;
    text-align: center;
}
.delete_confirmation #sec_header #title {
    font-size: 17px;
    font-weight: 600;
}
.delete_confirmation #sec_header #subtitle {
    font-size: 14px;
    font-weight: 500;
    color: #5a5a5a;
    max-width: 330px;
    margin-top: 15px;
}
.delete_confirmation .warning {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    border: 1px solid #E4E4E4;
    padding: 10px;
    background: #ffe8d9;
    color: #ff5d3d;
    margin: 10px 20px;
    width: 400px;
    height: 100px;
    border-radius: 0px 5px 5px 0px;
    align-items: center;
}
.delete_confirmation .warning::before{
	background: #f9703e;
    content: "";
    width: 8px;
    height: 100px;
    margin-left: -14px;
    border-radius: 5px 0px 0px 5px;
}
.delete_confirmation .warning #warning_info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 4px;
}
.delete_confirmation .warning #warning_info #title {
    font-size: 16px;
    font-weight: 600;
    color: #ff0034;
}
.delete_confirmation .warning #warning_info #subtitle{
	font-weight:500;
	font-size:14px;
}
.delete_confirmation #cta {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    align-self: flex-end;
    padding: 5px 20px;
}
.delete_confirmation #cta #delete {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: none;
    width: 175px;
    justify-content: center;
    height: 40px;
    border-radius: 5px;
    background: #e12d39;
    color: #fff;
    cursor:pointer;
}
.delete_confirmation #cta #cancel {
    border: 2px solid #000;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}
.edit_employee {
	position: absolute;
    top: 50%;
    display: flex;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: 1px solid #E4E4E4;
    border-radius: 10px;
    width: auto;
    height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    z-index: 2;
}
.edit_employee  #tab_header {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
	margin-bottom: 15px;
}
.edit_employee  #tab_header #left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}
.edit_employee  #tab_header #left #text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.edit_employee  #tab_header #left #text #title {
    font-size: 17px;
    font-weight: 600;
    line-height:16px;
}
.edit_employee  #tab_header #left #text #subtitle {
    font-weight: 400;
    font-size: 14px;
    color: #C4C4C4;
}
.edit_employee  #tab_header #right #image_wrapper {
    height: 33px;
    width: 33px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background: #eeeeee;
    border-radius: 10px;
    cursor: pointer;
}
.edit_employee #error_banner {
    flex-direction: row;
    flex-wrap: nowrap;
    border: 2px solid #F5413D;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 0px 10px;
    height: 40px;
    align-items: center;
    margin-bottom: 10px;
}
.edit_employee #error_banner #text {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    color: #F5413D;
}
.edit_employee #email_role {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.edit_employee #email_role #email {
	height: 40px;
    width: 250px;
    border: 1px solid #E4E4E4;
    border-radius: 0px 5px 5px 0px;
    background: #F9F9F9;
    padding: 0px 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    border-left: none;
}
.edit_employee #email_field {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.edit_employee #email_field #at_symbol {
	height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: #F9F9F9;
    align-items: center;
    justify-content: center;
    border: 1px solid #E4E4E4;
    border-radius: 5px 0px 0px 5px;
    border-right: none;
    padding-left: 10px;
}
.edit_employee #email_role #email::placeholder{
	font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;	
}
#at_symbol + #email:focus{
	outline:none;
	border-color: #0071ff;
}
.edit_employee #email_role #filter {
    height: 40px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    width: 145px;
    padding: 0px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    cursor:pointer;
    font-weight: 500;
}
.edit_employee #email_role #filter:focus{
	outline:none;
	border-color: #0071ff;
}
.edit_employee #passwords {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    gap: 30px;
}
.edit_employee #passwords .pass{
	height: 40px;
    width: 202px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    background: #F9F9F9;
    padding: 0px 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
}
.edit_employee #passwords .pass::placeholder{
	font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;	
}
.edit_employee #passwords .pass:focus{
	outline:none;
	border-color: #0071ff;
}
.edit_employee #location_select {
	display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    margin: 5px 10px;
    height: 45px;
    cursor:pointer;
}
.edit_employee #location_select #title {
    font-size: 15px;
    font-weight: 500;
    border:none;
    cursor:pointer;
}
.edit_employee #location_select #title:focus{
	outline:none;
}
.edit_employee #locations_List {
    margin: 0px 10px;
    padding: 0px 20px;
    border: 1px solid #E4E4E4;
    overflow-y: overlay;
    height: auto;
    max-height: 30vh;
}
.edit_employee #locations_List #location_tile {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #E4E4E4;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
}
.edit_employee #sub_btn {
	width: 120Px;
	margin-top: 15Px;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background: #0071FF;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    align-self: flex-end;
}
.edit_employee #sub_btn p{
	margin-left:10px;
}
.edit_confirmation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    background: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 400px;
    padding: 20Px;
    border: 1px solid #E4E4E4;
    border-radius: 10px;
    box-shadow: -2px 1px 10px 0px #dcdcdc;
}
.edit_confirmation .tab_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-bottom: 10Px;
}
.edit_confirmation .tab_content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    gap: 15px;
}
.edit_confirmation .tab_content #header {
    font-size: 18px;
    font-weight: 600;
}
.edit_confirmation .tab_content #content {
    font-size: 14px;
}
.edit_confirmation .tab_content #password{
	height: 40px;
    width: 202px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    background: #F9F9F9;
    padding: 0px 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
}
.edit_confirmation .tab_content #password::placeholder{
	font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;	
}
.edit_confirmation .tab_content #password:focus{
	outline:none;
	border-color: #0071ff;
}
.edit_confirmation .tab_footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 10Px;
    gap:10px;
}
.edit_confirmation .tab_footer button{
	width: 120Px;
	margin-top: 15Px;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
}
.edit_confirmation .tab_footer #cancel{
	background:none;
	border: 2px solid #000;
	font-size:15px;
	font-weight:600;
}
.edit_confirmation .tab_footer #sbt_btn{
	background: #0071FF;
    color: #fff;
    border: none;
}
.edit_confirmation .tab_footer #sbt_btn:disabled,
.edit_confirmation .tab_footer #sbt_btn[disabled]{
  background-color: #C4C4C4;
}
.tab_footer button p{
	margin-left:10px;
}