.main-frame {
    height: calc(100vh - 55px);
    width: calc(100vw - 50px);
}
.main-frame .main-content {
        background: #fff;
    margin: 20px;
    border: 2px solid #E4E4E4;
    border-radius: 5px;
    width: calc(100vw - 115px);
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.main-frame .main-content #DataBase {
    width: 75%;
    height: 100%;
    border-right: 2px solid #E4E4E4;
}
.main-frame .main-content #DataBase #BuildingType #value {
    background: #b2f3b2;
    width: fit-content;
    padding: 5px 23px;
    height: fit-content;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
}
.main-frame .main-content #DataBase #BuildingType #value2 {
    background: #bbd2ff;
    width: fit-content;
    padding: 5px 23px;
    height: fit-content;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
}
.main-frame .main-content #DataBase #BuildingCapacity {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
    color: #B8B08D;
}
.main-frame .main-content #DataBase #BuildingBookings #value {
    background: #B2F3B2;
    width: fit-content;
    height: fit-content;
    padding: 6px 8px;
    color: #000;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 600;
}
.main-frame .main-content #DataBase #options {
    width: 100%;
    display: flex;
    height: 60Px;
    border-bottom: 2px solid #E4E4E4;
    flex-direction: row;
    flex-wrap: nowrap;
	justify-content: space-between;
    align-items: center;
}

.main-frame .main-content #DataBase #options .toggles {
    display: flex;
    width: 50%;
    margin-left: 5Px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.main-frame .main-content #DataBase #options .toggles .option{
	display:flex;
}
.main-frame .main-content #DataBase #options .toggles .option p {
    margin-left: 15px;
    font-size: 16px;
    font-weight: 500;
}
.main-frame .main-content #DataBase #options .cta {
  	margin-right: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.main-frame .main-content #DataBase #options .cta #searchBar {
	    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-right: 15px;
}
.main-frame .main-content #DataBase #options .cta #searchBar input {
	width: 100%;
    box-sizing: border-box;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 0px 6px 6px 0px;
    color: #99a3ba;
    border: 2px solid #ededed;
    background: #F7F8FA;
    border-left: none;
}
.main-frame .main-content #DataBase #options .cta #searchBar input::placeholder {
	font-size:12px;
	font-weight:400;
	font-family: 'Poppins', sans-serif;
}
.main-frame .main-content #DataBase #options .cta #searchBar input:focus{
	outline:none;
}
 .main-frame .main-content #DataBase #options .cta #searchBar img {
    border: 2px solid #ededed;
    padding: 11px 0px 11px 11px;
    border-radius: 6px 0px 0px 6px;
    border-right: none;
    background: #F7F8FA;
    width: 19px;
}
.main-frame .main-content #DataBase #options .cta #add button{
	border: none;
    background: #B8B08D;
    display: flex;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 15px;
    font-weight: 500;
    align-items: center;
    width: 150px;
    height: 43px;
    font-family: 'Poppins', sans-serif;
}
.main-frame .main-content .viewDetails {
   	width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.main-frame .main-content .viewDetails .details_header {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    border-bottom: 2px solid #E4E4E4;
}
.main-frame .main-content .viewDetails .details_header #BuildingName {
    display: flex;
    font-size: 17px;
    font-weight: 600;
}
.main-frame .main-content .viewDetails .details_header #Capacity {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.main-frame .main-content .viewDetails .details_header #Capacity #value {
    font-weight: 600;
    font-size: 19px;
    color: #B8B08D;
}
.main-frame .main-content .viewDetails .stats {
    height: 40%;
    width: auto;
    padding: 10px 20px;
    border-bottom: 2px solid #E4E4E4;
}
.main-frame .main-content .viewDetails .data {
    width: -webkit-fill-available;
    height: 90%;
}
.main-frame .main-content .viewDetails .stats #detailed_capacity {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.main-frame .main-content .viewDetails .stats #detailed_capacity #value {
    font-weight: 600;
    font-size: 18px;
    margin-right: 16px;
}
.main-frame .main-content .viewDetails .stats #stat_header {
    font-size: 17px;
    font-weight: 600;
}
.main-frame .main-content .viewDetails .responsable_personal {
    display: flex;
    width: auto;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    border-bottom: 2px solid #E4E4E4;
}
.main-frame .main-content .viewDetails .responsable_personal #employee_info #info_header {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
}
.main-frame .main-content .viewDetails .responsable_personal #employee_info #info_header #cta {
    height: fit-content;
    cursor:pointer;
}
.main-frame .main-content .viewDetails .responsable_personal #employee_info #info_header #employeeName {
    font-size: 21px;
}
.main-frame .main-content .viewDetails .responsable_personal #employee_info #employement {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    font-weight: 600;
    font-size: 14;
}
.main-frame .main-content .viewDetails .responsable_personal #employee_info #employement #value {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}
.viewDetails .cta input[type="submit"] {
    margin-bottom: 10%;
    border: 2px solid #000;
    width: 200Px;
    background: #fff;
    font-size: 15px;
    height: 40px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    align-self: center;
}
.main-frame .main-content .viewDetails .cta {
    width: fit-content;
    position: absolute;
    height: fit-content;
    bottom: 11px;
}
.battery {
    position: relative;
    width: 60px;
    height: 25px;
    border: 4px solid #B8B08D;
    border-radius: 8px;
    position: relative;
    padding: 4px;
    -webkit-transform: scale(0.5);
}
 .battery:before {
	content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: -10.5px;
    margin-top: -5px;
    width: 12px;
    height: 12px;
    background: #B8B08D;
    clip: rect(0, 12px, 12px, 6.5px);
    border-radius: 50%;
}
 .battery .level {
    height: 100%;
    background: #B8B08D;
    border-radius: 4px;
}
 