a, a:visited{
	text-decoration: none;
}
.content .main-frame {
    width: calc(100vw - 50px);
    height: calc(100vh - 55px);
}

.content .main-frame .dropdownSearch nav{
  width: 100%;
  padding:0;
  height: auto;
  background: #fff;
}
.content .main-frame .dropdownSearch .btn{
	   -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.content .main-frame .dropdownSearch #wrapper{
	display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 2px solid #E4E4E4;
}
.content .main-frame .dropdownSearch #wrapper p {
    position: relative;
    left: 50%;
    font-weight: 500;
    transform: translate(-50%, 0px);
    font-size: 17px;
}
.content .main-frame .dropdownSearch #search {
    float: right;
    font-size: 1.7em;
    margin-right: 15px;
    padding: 5px 12px;
}
.content .main-frame .dropdownSearch #search img {
    width: 20px;
}
.content .main-frame .dropdownSearch .search_box {
  clear: both;
  width: 98%;
  background: #fff;
  padding: 0 1%;
  margin: 0;
  height: 0;
  overflow: hidden;
      -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.content .main-frame .dropdownSearch .search_box.active{
	height: fit-content;
    padding: 1%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.content .main-frame .dropdownSearch .search_box input.search_icon {
  clear: both;
  width:7%;
  height: auto;
  padding: 1%;
  margin: 0;
  float: right;
  border: medium none;
  color: #FFF;
  cursor: pointer;
  background: #42BBA3;
  opacity: 1;
    -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.content .main-frame .dropdownSearch .search_box  #text {
    max-width: 80%;
}
.content .main-frame .dropdownSearch .search_box #search_inputs {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.content .main-frame .dropdownSearch .search_box #search_inputs #input_field{
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 15px;
}
.content .main-frame .dropdownSearch .search_box #search_inputs #input_field #field{
	display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    flex-wrap: nowrap;
    font-size: 14px;
    flex-direction: row;
    font-weight: 500;
    margin-bottom: 5px;;
}
.content .main-frame .dropdownSearch .search_box #search_inputs #input_field #field img {
    margin-right: 10px;
    width: 15px;
}
.content .main-frame .dropdownSearch .search_box #search_inputs input[type="submit"] {
    width: 170px;
    height: 50px;
    border: none;
    background: #B8B08D;
    color: #fff;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin-top: 18px;
}
.content .main-frame .dropdownSearch .search_box #search_inputs #input_field input[type="text"], input[type="date"] {
	width: 170px;
	height: 44px;
    box-sizing: border-box;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    color: #99a3ba;
    border: 2px solid #ededed;
    background: #F7F8FA;
}
.content .main-frame .dropdownSearch .search_box #search_inputs #input_field input[type="text"]::placeholder, input[type="date"]::placeholder{
	font-size:12px;
	font-weight:400;
	font-family: 'Poppins', sans-serif;
}
.content .main-frame .dropdownSearch .search_box #search_inputs #input_field input[type="text"]:focus, input[type="date"]:focus{
	outline:none;
}


.content .main-frame .dropdownSearch .search_box #search_inputs #input_field input[type="time"] {
	width: 170px;
    box-sizing: border-box;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    color: #99a3ba;
    border: 2px solid #ededed;
    background: #F7F8FA;
}
.content .main-frame .dropdownSearch .search_box #search_inputs #input_field input[type="time"]:focus{
	outline:none;
}
.content .main-frame .dropdownSearch .search_box #search_inputs #input_field input[type="time"]::placeholder {
	font-size:12px;
	font-weight:400;
	font-family: 'Poppins', sans-serif;
}
.content .main-frame .dropdownSearch .search_box #search_inputs #input_field .location img {
    border: 2px solid #ededed;
    padding: 11px 0px 11px 11px;
    border-radius: 6px 0px 0px 6px;
    border-right: none;
    background: #F7F8FA;
    width: 19px;
}
.content .main-frame .dropdownSearch .search_box #search_inputs #input_field .date img {
    border: 2px solid #ededed;
    padding: 11px 0px 11px 11px;
    border-radius: 6px 0px 0px 6px;
    border-right: none;
    background: #F7F8FA;
    width: 19px;
}
.content .main-frame .dropdownSearch .search_box #search_inputs #input_field .hour img {
    border: 2px solid #ededed;
    padding: 11px 0px 11px 11px;
    border-radius: 6px 0px 0px 6px;
    border-right: none;
    background: #F7F8FA;
    width: 19px;
}
.content .main-frame .main-content {
    width: calc(100vw - 80px);
    height: calc(100vh - 115px);
    display: inline-flex;
}
.content .main-frame .main-content .sec-menu {
   	background: #fff;
    margin: 10px;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: 2px solid #E4E4E4;
}
.content .main-frame .main-content .sec-menu .checkbox-style #option {
    display: flex;
    margin: 15px;
}
.content .main-frame .main-content .sec-menu .checkbox-style #option label {
    font-weight: 500;
    margin-left: 15px;
}
.content .main-frame .main-content .search-result {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: inherit;
    flex-wrap: nowrap;
}
#message {
    text-align: center;
    margin-top: 60px;
    font-size: 17px;
    font-weight: 500;
}
.content .main-frame .main-content .search-result  #search-header {
    height: 40px;
    background: #fff;
    margin: 10px;
    padding: 10px;
    display: flex;
    border-radius: 5px;
    border: 2px solid #E4E4E4;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.content .main-frame .main-content .search-result  #search-header #count {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.content .main-frame .main-content .search-result  #search-header #count h4 {
    margin: 0px;
    font-size: 17px;
    font-weight: 600;
}
.content .main-frame .main-content .search-result #result {
    display: flex;
    width: inherit;
    height: -webkit-fill-available;
    flex-direction: row;
    flex-wrap: nowrap;
}
.content .main-frame .main-content .search-result #result #result-list {
    background: #fff;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    overflow: auto;
    height: inherit;
    width: 100%;
    border: 2px solid #E4E4E4;
}
.content .main-frame .main-content .search-result #result #result-list #car{
	border: 2px solid #EFEFEF;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: fit-content;
    height: fit-content;
    margin: 10px;
}
.content .main-frame .main-content .search-result #result #result-list #car #car_info{
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.content .main-frame .main-content .search-result #result #result-list #car #car_info #names{
	margin-right: 15px;
}
.content .main-frame .main-content .search-result #result #result-list #car #car_info #names #carName{
	font-weight: 500;
    font-size: 15px;
}
.content .main-frame .main-content .search-result #result #result-list #car #car_info #names  #AgencyName{
	font-size: 13px;
}
.content .main-frame .main-content .search-result #result #result-list #car #car_info #rating{
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 14px;
    align-items: center;
    font-weight: 600;
    height: fit-content;
}
.content .main-frame .main-content .search-result #result #result-list #car #car_info #rating img {
    width: 17px;
    margin-right: 5px;
}
.content .main-frame .main-content .search-result #result #result-list #car #car_features {
	display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    justify-content: space-between;
}
.content .main-frame .main-content .search-result #result #result-list #car #car_features #features {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.content .main-frame .main-content .search-result #result #result-list #car #car_features #features span {
	display: flex;
    font-size: 13px;
    align-items: center;
    font-weight: 500;
    margin-bottom: 10px;
}
.content .main-frame .main-content .search-result #result #result-list #car #car_features #features span img{
	margin-right:10px;
}
.content .main-frame .main-content .search-result #result #result-list #car #car_features #promotion {
    background: #E6E890;
    padding: 3px 5px;
    border-radius: 8px;
    width: 40px;
    font-size: 14px;
    font-weight: 600;
    height: 21px;
    text-align: center;
}
#price #slider {
	 -webkit-appearance: auto;
    height: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.314);
    outline: none;
    padding: 0;
    width: 90%;
    margin: auto;
    cursor: pointer;
}
 #price #slider::-webkit-slider-thumb {
	 -webkit-appearance: none;
	 width: 20px;
	 height: 20px;
	 border-radius: 50%;
	 background: #fff;
	 cursor: pointer;
	 transition: all 0.15s ease-in-out;
}
#price #slider::-webkit-slider-thumb:hover {
	 background: #d4d4d4;
	 transform: scale(1.2);
}
#price #slider::-moz-range-thumb {
	 width: 20px;
	 height: 20px;
	 border: 0;
	 border-radius: 50%;
	 background: #fff;
	 cursor: pointer;
	 transition: background 0.15s ease-in-out;
}
#price #slider::-moz-range-thumb:hover {
	 background: #d4d4d4;
}
.content .main-frame .main-content .search-result #result #result-list #car #deal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}
.content .main-frame .main-content .search-result #result #result-list #car #price {
    display: flex;
    place-self: flex-end;
    flex-direction: column;
    color: #BDBDBD;
    font-size: 13px;
    line-height: 1;
}
.content .main-frame .main-content .search-result #result #result-list #car #deal #cta button {
    border: none;
    font-family: 'Poppins', sans-serif;
    background: #B8B08D;
    color: #fff;
    width: 105px;
    height: 38px;
    border-radius: 5px;
    font-weight: 500;
}
.content .main-frame .main-content .search-result #result #result-list #car #price #amount {
   	font-size: 21px;
    color: #000;
    font-weight: 600;
}
.content .main-frame .main-content .search-result #result #map {
   	background: #fff;
    margin: 10px;
    padding: 10px;
    height: auto;
    width: 100%;
    border: 2px solid #E4E4E4;
    max-width: 700px;
    border-radius: 5px;
}
.content .main-frame .main-content .search-result #result #map .mapouter{
	width: 100%;
    height: 100%;
}
.content .main-frame .main-content .search-result #result #map .mapouter #map_canvas{
	z-index: 0;
}
.content .main-frame .main-content .search-result #result #map .mapouter .gmap_canvas{
	width: 100%;
    height: 100%;
}
.content .main-frame .main-content .search-result #result #map .mapouter .gmap_canvas iframe{
	width: 100%;
    height: 100%;
}