.content{
	background: #fff;
}
.main-frame {
	width: calc(100vw - 50px);
    height: calc(100vh - 55px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
}
.main-frame .main-frame-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.main-frame .seach_section {
    background: #fff;
    display: flex;
    height: 70px;
    width:75%;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #E4E4E4;
    padding: 0px 20px;
	border-right: 1px solid #E4E4E4;
}
.main-frame .seach_section #search_bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    width: 50%;
    position:relative;
}
.main-frame .seach_section #search_bar #erase_search {
    position: absolute;
    right: 3%;
    width: 18px;
    cursor: pointer;
    visibility: hidden;
}
.main-frame .seach_section #search_bar:focus-within #erase_search{
	visibility:visible;
}
.main-frame .seach_section #search_bar #image_wrapper {
    display: flex;
    width: 50px;
    height: 100%;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.main-frame .seach_section #search_bar #location_input {
	height: 100%;
    width: calc(100% - 50px);
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #000;
    font-weight: 400;
    padding: 0px 10px;
    border: none;
    border-right: 1px solid #E4E4E4;
}
.main-frame .seach_section #search_bar #location_input:focus{
	outline:none;
}
.main-frame .seach_section #search_bar #location_input::placeholder{
	color:#C4C4C4;
}
.main-frame .seach_section #range_picker {
	height: 100%;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 10px 20px;
    width: 40%;
    border: none;
    cursor: pointer;
    border-right: 1px solid #E4E4E4;
}
.main-frame .seach_section #range_picker:focus{
	outline:none;
}
.main-frame .seach_section #minimize_wrapper {
	background: #0071ff;
    width: 115px;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin-left: 2%;
}
.main-frame #tab_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 20px;
    width: 25%;
    justify-content: space-between;
}
.main-frame #tab_header #title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 8px;
    font-size: 20px;
}
.main-frame #tab_header #title #nearby {
    font-size: 18px;
    font-weight: 600;
}
.main-frame #tab_header #title #counter {
    font-weight: 600;
}
.main-frame #tab_header #section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    font-size: 17px;
    font-weight: 500;
    line-height: 14px;
}
.main-frame #tab_header #section #image_wrapper {
    width: 25px;
    border: 1px solid #E4E4E4;
    height: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}
.main-frame .main_content {
    width: 100%;
    height: calc(100vh - 125px);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.main-frame .main_content .filter {
    background: #fff;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 40px;
    width:277px;
}
.main-frame .main_content .filter #map_toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.main-frame .main_content .filter #text {
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 16px;
	margin-bottom: 18px;
}
.main-frame .main_content .filter #text #title {
    font-weight: 600;
    font-size: 20px;
}
.main-frame .main_content .filter #car-type #option {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 15px 0px;
    justify-content: space-between;
}
.main-frame .main_content .filter #rating #rating_list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
}
.main-frame .main_content .filter #rating #rating_list #tile {
    display: flex;
    border: 1px solid #E4E4E4;
    width: 45px;
    height: 40px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    gap: 5px;
    font-size: 14px;
    font-weight: 500;
    position:relative;
}
.main-frame .main_content .filter #rating #rating_list #tile img{
	visibility:hidden;
}
.main-frame .main_content .filter #rating #rating_list #tile input[type="radio"]{
	width:100%;
	height:100%;
	position:absolute;
	z-index:3;
	opacity:0;
}
.main-frame .main_content .filter #rating #rating_list #tile #value{
	position:absolute;
}
.main-frame .main_content .filter #rating #rating_list #tile input[type="radio"]:checked~ img{
	visibility:visible;	
}
.main-frame .main_content .filter #rating #rating_list #tile input[type="radio"]:checked~ #value{
	position:unset;
}
.main-frame .main_content .filter #price #row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
	margin-bottom: 15px;
}
.main-frame .main_content .filter #price #row #tile {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    padding: 0px 5px;
    color: #C4C4C4;
    width: 105px;
    gap: 5px;
}
.main-frame .main_content .filter #price #row #tile #display_value {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 7px;
    justify-content: flex-end;
    font-size: 11px;
    align-content: flex-end;
    align-items: flex-end;
    font-weight: 500;
}
.main-frame .main_content .filter #price #row #tile input[type="text"] {
    width: 50px;
    border: none;
    cursor: unset;
    text-align: end;
    font-size: 19px;
    font-weight: 600;
}
.main-frame .main_content .filter #price #row #tile input[type="text"]:focus{
	outline:none;
}
.main-frame .main_content .filter #price #slider {
    height: 3px;
    background: #ddd;
    border-radius: 5px;
    position: relative;
}
.main-frame .main_content .filter #price #slider #progress {
    background: #0071ff;
    position: absolute;
    height: 3px;
    border-radius: 5px;
}
.main-frame .main_content .filter #price .range-input {
    position: relative;
}
.main-frame .main_content .filter #price .range-input input[type="range"]{
	position: absolute;
    width: 101%;
    top: -14px;
    left: -3px;
    background: none;
    -webkit-appearance:none;
    pointer-events:none;
    cursor:pointer;
}
.main-frame .main_content .filter #price .range-input input[type="range"]::-moz-range-thumb{
	height:20px;
	width:20px;
	pointer-events:auto;
	-moz-appearance:none;
	background:#000;
	border:none;
	cursor:pointer;
}
.main-frame .main_content .filter #price .range-input input[type="range"]::-webkit-slider-thumb{
	height:20px;
	width:20px;
	pointer-events:auto;
	-webkit-appearance:none;
	background:#fff;
	border:7px solid #0071ff;
	border-radius:50%;
	cursor:pointer;
}
.main-frame .main_content .map {
    overflow: hidden;
    border-radius: 20px;
    margin: 20px 0px;
}
.main-frame .main_content .map #map_wrapper {
    height: 100%;
    width: 100%;
}
 #tab_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 20px;
    gap: 20px;
    height: calc(100vh - 125px);
	width: calc(100vw - 320px);
    justify-content: normal;
    overflow-y:overlay;
}
#tab_content #search_results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 20px;
    gap: 20px;
    height: calc(100vh - 136px);
    width: -webkit-fill-available;
}
 #tab_content #dashboard {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: calc(53vw - 4px);
}
#tab_content #dashboard #recent_tab_header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 12px;
}
#tab_content #dashboard #recent_tab_header #section_header {
	font-size: 22px;
    font-weight: 500;
    line-height: 25px;
}
#tab_content #dashboard #recent_tab_header #subtitle {
    display: flex;
    gap: 6px;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #C4C4C4;
}
#tab_content #dashboard #recent_tab_header #subtitle #filter_location {
    color: #000;
    font-weight: 600;
}
#tab_content #dashboard #recent_tab_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 74vh;
    overflow-y: overlay;
    gap: 20px;
}
#tab_content #dashboard #recent_tab_content #result #image_wrapper{
	position: relative;
    overflow: hidden;
    border-radius: 20px;
    width: 250px;
    height: 170px;
}
#tab_content #dashboard #recent_tab_content #result #result_info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    width: 250px;
}
#tab_content #dashboard #recent_tab_content #result #result_info #row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 250px;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#tab_content #recommended_list {
    overflow-y: overlay;
    width: 22vw;
    display: flex;
    padding: 0px 20px 0px 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: calc(100vh - 145px);
    overflow-x: hidden;
    align-content: center;
    gap:20px;
}
#tab_content #result {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap:5px;
}
 #tab_content #result #image_wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    width: 300px;
    height: 180px;
}
 #tab_content #result #image_wrapper #details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 40px;
    width: 115px;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    gap: 10px;
    cursor: pointer;
    opacity: 0;
    box-shadow: -1px 5px 20px 2px #b8b8b8;
}
 #tab_content #result:hover{
	cursor:pointer;
}
 #tab_content #result:hover #image_wrapper #details{
	opacity:1;
}
 #tab_content #result #image_wrapper #like {
    position: absolute;
    top: 6%;
    z-index: 2;
    right: 6%;
    cursor:pointer;
}
 #tab_content #result #result_info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
	width: 300px;
}
 #tab_content #result #result_info #row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
	justify-content: space-between;
}
 #tab_content #result #result_info #row #car_name {
    font-size: 17px;
    font-weight: 600;
}
 #tab_content #result #result_info #row #section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
}
 #tab_content #result #result_info #row #section #agency_name {
    font-size: 16px;
    font-weight: 500;
}
 #tab_content #result #result_info #row #section #depot_address {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 220px;
    font-size: 15px;
    font-weight: 500;
    color: #C4C4C4;
}
 #tab_content #result #result_info #row #rating {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 8px;
	font-size: 13px;
    font-weight: 600;
}
 #tab_content #result #result_info #row #rating #icon_wrapper {
	width: 20px;
    background: #eee;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
 #tab_content #result #result_info #row #price {
    font-size: 26px;
    font-weight: 600;
    color: #fec04d;
}
#Map_pop_Up {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
}
#Map_pop_Up #image_wrapper {
    display: flex;
    width: 180px;
    height: 119px;
	overflow: hidden;
}
#Map_pop_Up #image_wrapper #image_slider {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 15px;
    width: 180px;
    height: 119px;
}
#Map_pop_Up #info_wrapper{
    overflow: hidden;
}
#Map_pop_Up #info_list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 180px;
}
#Map_pop_Up #depot_info {
   	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 180px;
}
#Map_pop_Up #depot_info #row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 180px;
    height: 40px;
    align-items: center;
}
#Map_pop_Up #depot_info #view_details {
    cursor: pointer;
    border: 2px solid #E4E4E4;
    border-radius: 10px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#Map_pop_Up #depot_info #row #price {
    color: #fec04d;
    font-size: 22px;
    font-weight: 600;
}
#Map_pop_Up #depot_info #row #rating {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 8px;
	font-size: 13px;
    font-weight: 600;
}
#Map_pop_Up #depot_info #row #rating #icon_wrapper {
	width: 20px;
    background: #eee;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
#Map_pop_Up #back {
    border: none;
    background: #fff;
    width: 28px;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 27%;
    left: 0%;
    cursor: pointer;
}
#Map_pop_Up #next {
    border: none;
    background: #fff;
    width: 28px;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 27%;
    right: 0%;
    cursor: pointer;
}