.content .main-frame {
    width: calc(100vw - 50px);
    height: calc(100vh - 55px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
#main-title {
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    border-bottom: 2px solid #E4E4E4;
}
.card{
  	 width: 400px;
    height: 225px;
    margin: 10px 20px;
    border-radius: 15px;
    z-index: 1;
    position: relative;
    box-shadow: -1px 10px 20px 6px #a9a9a9;
}
.card_info{
	padding: 25px 15px;
    position: relative;
    height: 100%;
    text-shadow: 7px 6px 10px rgb(14 42 90 / 80%);
    user-select: none;
}
.card_top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 10px;
}
.item_chip {
    width: 40px;
}
.item_type {
    height: 45px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    max-width: 100px;
    margin-left: auto;
    width: 100%;
    align-items: center;
}
img.item_typeImg {
    width: 50px;
}
.item_typeImg {
    max-width: 100%;
    object-fit: contain;
    max-height: 100%;
    object-position: top right;
}
.card_number {
	display: flex;
    color: #fff;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 25px;
    padding: 10px 20px;
}
.card_number span{
	margin-top:10px;
}
.item_bottom {
    display: flex;
    color: #fff;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0px 20px;
}
.card .card_info #holder {
    font-size: 14px;
    color: #cecece;
}
.card .card_info  #holder_full_name {
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
}
.card .card_info  #card_Expiry_date {
    font-size: 14px;
    color: #cecece;
}
.card .card_info  #card_expiry_date {
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
}
.content .main-frame .payment-content #payment_details #cards {
	display:flex;
	align-items:center;
	margin-top: 10px;
}
.content .main-frame .payment-content #payment_details #cards #add-card button{
	    background: none;
    border: 3px dashed;
    width: 321px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    height: 185px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 600;
    color: #d5d5d5;
}
.content .main-frame .payment-content {
   	background: #fff;
    height: calc(100vh - 75px);
    width: 80%;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid #E4E4E4;
    transition:all 0.8s linear; 
	-o-transition:all 0.8s linear;
	-moz-transition:all 0.8s linear; 
	-webkit-transition:all 0.8s linear;
}
#payment_history {
        display: flex;
    height: 100%;
    flex-direction: column;
    margin-top: 10px;
    flex-wrap: nowrap;
}
#sec_title {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    border-bottom: 2px solid #E4E4E4;
}
.transaction {
    display: grid;
    margin-top: 10px;
    width: auto;
    background: #fff;
    border: 2px solid #EFEFEF;
    padding: 10px 20px;
    border-radius: 10px;
    align-items: center;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: start;
    cursor:pointer;
}
#method {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
#method p{
	margin-left:5px;
}
#cash_box {
    width: 30px;
    height: 30px;
    border: 2px solid #E4E4E4;
    border-radius: 5px;
    background: #d4cba494;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cash_dot {
    width: 10px;
    height: 10px;
    background: #b2aa85;
    border-radius: 50%;
}
#card_box {
    width: 30px;
    height: 30px;
    border: 2px solid #E4E4E4;
    border-radius: 5px;
    background: #81aed869;
    display: flex;
    align-items: center;
    justify-content: center;
}
#card_dot {
    width: 10px;
    height: 10px;
    background: #ccb4ed;
    border-radius: 50%;
}
#table_content{
	height: calc(100vh - 50%);
    width: auto;
    overflow: auto;
    padding: 0px 40px;
}
.side_bar {
    background: #fff;
    width: 25%;
    margin: 10px 10px 10px 5px;
    border: 2px solid #E4E4E4;
    border-radius: 5px;
    height: calc(100vh - 75px);
    flex-direction: column;
    flex-wrap: nowrap;
    display:none;
     transition:all 0.8s linear; 
	-o-transition:all 0.8s linear;
	-moz-transition:all 0.8s linear; 
	-webkit-transition:all 0.8s linear;
}
.reciever {
    margin-top: 20px;
    align-self: center;
    text-align: center;
}
.side_bar #main_title {
    padding: 14px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 2px solid #E4E4E4;
}
.reciever #agency_image{
	width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 6px 20px rgb(49 93 168 / 17%);
    transition:all 0.3s linear; 
	-o-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear; 
	-webkit-transition:all 0.3s linear;
}
.reciever #agency_image img{
	transition:all 0.3s linear; 
	-o-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear; 
	-webkit-transition:all 0.3s linear;
}
#agency_name {
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
}
#agency_phone {
    font-size: 18px;
    font-weight: 500;
    color: #C4C4C4;
}
.payment_info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0px 20px;
    margin-top: 10px;
}
#tile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #C4C4C4;
}
#title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#invoice {
    margin-left: 14px;
}
#invoice_img {
    margin-left: 4Px;
}
#amount {
    margin-left: 11px;
}
#date {
    margin-left: 12px;
}
#date_img {
    margin-left: 3px;
}
.summary {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0px 20px;
    margin-top: 10Px;
}
.summary_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background: #f1f1f1;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor:pointer;
    border-radius: 5px;
}
.summary_body {
    transition:all 0.3s linear; 
	-o-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear; 
	-webkit-transition:all 0.3s linear;
}
.summary_body #tile{
	color:#000;
}
.summary_toggle.active{
	-webkit-transform:rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	transition:all 0.3s linear; 
	-o-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear; 
	-webkit-transition:all 0.3s linear;
}