.frame {
    height: calc(100Vh - 55px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.step_slider {
    height: 7vh;
    width: 100vw;
    position:relative;
}
.step_slider .Progressline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 90vw;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}
.step_slider .Progressline:after{
	content: "";
    width: 95%;
    position: absolute;
    height: 5px;
    background: #0071ff;
    left: 2%;
}
.step_slider .Progressline .checkpoint {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 24px;
    font-size: 14px;
    font-weight: 600;
}
.step_slider .Progressline .checkpoint .point {
    width: 25px;
    height: 25px;
    border: 3px solid #0071ff;
    border-radius: 50%;
    background: #fff;
    z-index: 1;
}
.step_slider .Progressline .checkpoint .point.active{
	background: #0071ff;
}
.main_content {
    height: calc(93vh - 55px);
    width: 90vw;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}
.main_content .main-frame {
	width: 85%;
    height: 97%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap:15px;
    margin-top:10px;
}
.main_content .main-frame #tab_header {
    font-size: 17px;
    font-weight: 600;
    padding: 5px 0px;
}
.main_content .main-frame .main_frame_content {
	background: #fff;
    width: 100%;
    height: calc(100% - 34px);
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 10px;
    justify-items: center;
}
.payment_methods {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: nowrap;
}
.payment_methods #tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid #E4E4E4;
}
.payment_methods #tabs .tab {
    background: #fff;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    cursor:pointer;
}
.payment_methods #tabs .tab.active{
	border-bottom:2px solid #0071ff;
}
.payment_methods .tabs_content {
    display: flex;
    flex-direction: column;
    position: relative;
}
.payment_methods .tabs_content #createMeeting {
	position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}
.payment_methods .tabs_content #createMeeting #text {
    font-size: 15px;
    font-weight: 500;
    color: #cd5959;
}
.payment_methods .tabs_content #createMeeting #view_map {
    width: 50px;
    height: 50px;
    border: 1px solid #E4E4E4;
    border-radius: 10Px;
    margin-top: 15px;
    cursor: pointer;
}
.view_Location {
    width: 80vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffff;
    border: 1px solid #E4E4E4;
    border-radius: 10px;
    overflow: hidden;
	z-index: 1;
}
.view_Location #select_map_wrapper {
    width: 80vw;
    height: 80vh;
    z-index: 1;
}
.view_Location #inputs {
    position: absolute;
    top: 10px;
    width: -webkit-fill-available;
    height: 8vh;
    z-index: 2;
    margin: 0px 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
	justify-content: flex-end;
}
.view_Location #inputs #inputs_wrapper {
    background: #fff;
    height: 50px;
    width: 320px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #E4E4E4;
    padding: 20px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    margin-left: 15px;
}
.view_Location #inputs #inputs_wrapper:focus{
	outline:none;
	border-color:#0071FF;
}
.view_Location #inputs #select_location{
	width: 120Px;
    height: 40px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background: #0071FF;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    display:flex;
    border: none;
}
.view_Location #inputs #select_location p{
	margin-left:10px;
}
.view_Location #inputs #right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 25px;
}
.main_content .main-frame .main_frame_content #cards_list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.main_content .main-frame .main_frame_content #cards_list #title_header {
    font-size: 16px;
    font-weight: 500;
    color: #c4C4C4;
}
.main_content .main-frame .main_frame_content #cards_list #list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
}
.main_content .main-frame .main_frame_content #cards_list #list .card {
    width: 280px;
    height: 160px;
    margin: 10px 20px;
    border-radius: 10px;
    z-index: 1;
    position: relative;
    box-shadow: -1px 10px 20px 6px #a9a9a9;
}
.main_content .main-frame .main_frame_content #cards_list #list .card_info{
	padding: 25px 15px;
    position: relative;
    height: 100%;
    text-shadow: 7px 6px 10px rgb(14 42 90 / 80%);
    user-select: none;
}
.main_content .main-frame .main_frame_content #cards_list #list .card_top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 10px;
}
.main_content .main-frame .main_frame_content #cards_list #list .card .item_chip {
    width: 26px;
}
.main_content .main-frame .main_frame_content #cards_list #list .card .item_type {
    height: 24px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    max-width: 100px;
    margin-left: auto;
    width: 100%;
    align-items: center;
}
.main_content .main-frame .main_frame_content #cards_list #list .card  img.item_typeImg {
    width: 26px;
}
.main_content .main-frame .main_frame_content #cards_list #list .card .item_typeImg {
    max-width: 100%;
    object-fit: contain;
    max-height: 100%;
    object-position: top right;
}
.main_content .main-frame .main_frame_content .pay_info_form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 15px;
}
.main_content .main-frame .main_frame_content #cards_list #list .card_number {
	display: flex;
    color: #fff;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 20px;
    padding: 5px 20px;
    line-height: 20px;
}
.main_content .main-frame .main_frame_content #cards_list #list .card_number span{
	margin-top:10px;
}
.main_content .main-frame .main_frame_content #cards_list #list .card .item_bottom {
    display: flex;
    color: #fff;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 14px;
}
.main_content .main-frame .main_frame_content #cards_list #list .card .card_info #holder {
    font-size: 12px;
    color: #cecece;
}
.main_content .main-frame .main_frame_content #cards_list #list .card .card_info  #holder_full_name {
    font-size: 12px;
    color: #fff;
}
.main_content .main-frame .main_frame_content #cards_list #list .card .card_info  #card_Expiry_date {
    font-size: 12px;
    color: #cecece;
}
.main_content .main-frame .main_frame_content #row {
    display: flex;
    gap: 30px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.main_content .main-frame .main_frame_content #row #input_field {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5px;
}
.main_content .main-frame .main_frame_content #row #input_field #holder_card{
	width: 225px;
    height: 50px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding: 0px 20px;
    font-weight: 400;
    color: #000;
}
.main_content .main-frame .main_frame_content #row #input_field #holder_card:focus{
	outline:none;
	border-color: #3d9cff;
}
.main_content .main-frame .main_frame_content #row #input_field #inputField {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
}
.main_content .main-frame .main_frame_content #row #input_field #inputField #card_number {
	width: 391px;
    height: 50px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding: 0px 20px;
    font-weight: 400;
    color: #000;
}
.main_content .main-frame .main_frame_content #row #input_field #inputField #card_number:focus{
	outline:none;
	border-color: #3d9cff;
}
.main_content .main-frame .main_frame_content #row #input_field #inputField img {
    position: absolute;
    right: 5%;
    width: 30px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.main_content .main-frame .main_frame_content #row #input_field #title {
    font-size: 14px;
    font-weight: 500;
    color: #C4C4C4;
}
.main_content .main-frame .main_frame_content #row #input_field #input_s {
    height: 50px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    padding: 0px 20px;
    width: 135px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 13px;
}
.main_content .main-frame .main_frame_content #row #input_field #input_s:focus{
	outline:none;
	border-color: #3d9cff;
}
.main_content .main-frame .main_frame_content #row #select_row {
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.main_content .main-frame .main_frame_content #row #select_row #selectCard {
    width: 100px;
    height: 50px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.main_content .main-frame .main_frame_content #row #select_row #selectCard:focus{
	outline:none;
	border-color: #3d9cff;
}
.main_content .main-frame .main_frame_content #notify_text {
    font-size: 14px;
    font-weight: 400;
    color: #C4C4C4;
}
.main_content .main-frame .main_frame_content #cta {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
}
.main_content .main-frame .main_frame_content #cta #confirm {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    background: #28c397;
    border: none;
    height: 50px;
    width: 240px;
    border-radius: 5px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    line-height: 14px;
    cursor: pointer;
}
.main_content .main-frame .main_frame_content #cta #cancel {
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #E4E4E4;
    width: 135px;
    background: none;
    border-radius: 5px;
    cursor: pointer;
}
.main_content .sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: calc(30% - 10px);
    height: 97%;
    border-radius: 5px;
    gap:15px;
    margin-top:10px;
}
.main_content .sidebar #tab_header {
	font-size: 16px;
    font-weight: 500;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.main_content .sidebar #tab_header #left {
    display: flex;
    gap: 10px;
	font-weight: 600;
    font-size: 17px;
}
.main_content .sidebar #card {
	background: #fff;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 15px;
    gap: 10px;
}
.main_content .sidebar #card  #info_list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5px;
}
.main_content .sidebar #card  #info_list #tile {
    display: flex;
    padding: 5px;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 16px;
    align-items: center;
    font-weight: 400;
    gap: 40px;
}
.main_content .sidebar #card  #info_list #tile #title {
    min-width: 110px;
    max-width: 110px;
    font-size: 16px;
    font-weight: 400;
    color: #b1b1b1;
}
.main_content .sidebar #card  #info_list #tile #value {
    font-size: 15px;
    font-weight: 500;
}
.main_content .sidebar #card  #perklist {
    display: flex;
    border-bottom: 1px solid #E4E4E4;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px 0px;
    border-top: 1px solid #E4E4E4;
}
.main_content .sidebar #card  #perklist #perk_text {
    font-size: 15px;
    font-weight: 600;
    color: #C4C4C4;
}
.main_content .sidebar #card  #perklist #image_wrapper {
    border: 2px solid #c4c4c4;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.main_content .sidebar #card #promo_code {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 5px;
	font-weight: 500;
}
.main_content .sidebar #card #promo_code #submit {
    color: #9e47b6;
    font-weight: 600;
    cursor: pointer;
}