.email-content{
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.email-content #conversation-content {
    padding: 10px;
}
.email-content #conversation-content .email_header {
    display: flex;
    border-bottom: 2px solid #E4E4E4;
    justify-content: space-between;
    padding: 15px 25px;
}
.email-content #conversation-content .email_header #tags {
    font-size: 14px;
    background: #c3e1c2;
    padding: 5px 18px;
    border-radius: 5px;
    font-weight: 500;
}
.email-content #conversation-content .email_meta {
    padding: 10px 25px;
    border-bottom: 2px solid #E4E4E4;
}
.email-content #conversation-content .email_meta #timer {
    color: #C4C4C4;
    font-size: 15px;
    margin-bottom: 11px;
}
.email-content #conversation-content .email_meta #title {
    font-size: 24px;
    font-weight: 500;
}
.email-content #conversation-content .email_replies_list {
	max-height: 45%;
    height: auto;
    overflow-y: auto;
    border-bottom: 2px solid #E4E4E4;
}
.email-content #conversation-content .email_replies_list .reply {
	height: 60px;
    display: flex;
    padding: 10px 15px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 2px solid #E4E4E4;
    cursor:pointer;
    justify-content: space-between;
}
.email-content #conversation-content .email_replies_list .reply.active{
	height: fit-content;
    display: flex;
    padding: 10px 15px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    border-bottom: 2px solid #E4E4E4;
    justify-content: space-between;
}
.email-content #conversation-content .email_replies_list .reply #reply_source {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.email-content #conversation-content .email_replies_list .reply #reply_source #source_image{
	    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.email-content #conversation-content .email_replies_list .reply #reply_source #sender {
    font-weight: 600;
    margin-left: 10px;
    font-size: 18px;
}
.email-content #conversation-content .email_replies_list .reply #text_demo {
    font-size: 14px;
    margin: 5px 0px;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 1.6em;
    line-height: 1.8em;
    max-width: 360px;
}
.email-content #conversation-content .email_replies_list .reply.active #text_demo {
    overflow: visible;
    max-height: fit-content;
}
.email-content #conversation-content .email_replies_list .reply #time {
    color: #C4C4C4;
    font-size: 14px;
    font-weight: 500;
}
.email-content #conversation-content .main-email-content{
	padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.email-content #conversation-content .main-email-content #main-email-content-header{
	display: flex;
    padding: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.email-content #conversation-content .main-email-content #main-email-content-header #sender-info {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 26%;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
}
.email-content #conversation-content .main-email-content #main-email-content-header #sender-info #sender-image{
	width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.email-content #conversation-content .main-email-content #main-email-content-header #email-time {
    font-size: 15px;
    color: #C4C4C4;
    font-weight: 500;
}
.email-content #conversation-content .main-email-content #main-email-content-text {
    padding: 10px 20px;
}
.email-content #conversation-content button {
    display: flex;
    width: 110px;
    height: 40px;
    border: none;
    justify-content: space-evenly;
    background: #B8B08D;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    align-items: center;
    border-radius: 4px;
    cursor:pointer;
    bottom: 3%;
    position: absolute;
    right: 30px;
}
