.main-frame {
    width: calc(100vw - 50px);
    height: calc(100vh - 55px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background:#fff;
}
.main_content {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.main_content .best_performing_agencies {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px 30px;
    gap: 20px;
    height: 112px;
}
.main_content .best_performing_agencies #agency {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
    gap: 8px;
}
.main_content .best_performing_agencies #agency #image_wrapper {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 3px solid #0f56b3;
}
.main_content .best_performing_agencies #agency #image_wrapper img{
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #f5f5f5;
}
.main_content .best_performing_agencies #agency #agency_name {
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;
}
.main_content .Monthly_performance {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}
.main_content .Monthly_performance #tab_title {
    padding: 10px 30px 0px;
    font-weight: 500;
    font-size:15px;
}
.main_content .Monthly_performance .performance_list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0px 30px 10px 30px;
    justify-content: space-between;
}
.main_content .Monthly_performance .performance_list .metric {
    width: 32%;
    border: 2px solid #E4E4E4;
    padding: 13px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    height: 101px;
}
.main_content .Monthly_performance .performance_list .metric #title {
    font-size: 15px;
    font-weight: 500;
}
.main_content .Monthly_performance .performance_list .metric #stat {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: flex-end;
}
.main_content .Monthly_performance .performance_list .metric #stat #value {
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
}
.main_content .Monthly_performance .performance_list .metric #stat #exchange {
    color: #fec04d;
    font-weight: 500;
    font-size: 17px;
}
.main_content .analytics {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    padding: 10px 30px;
}
.main_content .analytics #tab_title {
    font-size: 16px;
    font-weight: 500;
}
.main_content .analytics .content_wrapper {
    display: grid;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.main_content .analytics .content_wrapper .section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.main_content .analytics .content_wrapper .section .graph_stat {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    border: 1px solid #E4E4E4;
    padding: 10px;
    border-radius: 5px;
}
.main_content .analytics .content_wrapper .section .graph_stat #graph_title {
    font-size: 15px;
    font-weight: 600;
    color: #145ab5;
}
.main_content .analytics .content_wrapper .section .location_stat {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 15px;
    margin-top: 15px;
}
.main_content .analytics .content_wrapper .section .location_stat #sec_tab_title {
    font-size: 15px;
    font-weight: 500;
}
.main_content .analytics .content_wrapper .section .location_stat #location_list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
}
.main_content .analytics .content_wrapper .section .location_stat #location_list #location {
    border: 1px solid #E4E4E4;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
    max-width: 110px;
    gap: 10px;
    border-radius: 10px;
}
.main_content .analytics .content_wrapper .section .location_stat #location_list #location #tab_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.main_content .analytics .content_wrapper .section .location_stat #location_list #location #tab_header  #image_wrapper {
    background: #eee;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.main_content .analytics .content_wrapper .section .location_stat #location_list #location #tab_header  #image_wrapper img{
	width: 8px;
}
.main_content .analytics .content_wrapper .section .location_stat #location_list #location #visits {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 13px;
    font-weight: 500;
    align-items: flex-end;
    gap: 5px;
}
.main_content .analytics .content_wrapper .section .location_stat #location_list #location #visits #couter {
    font-size: 27px;
    font-weight: 600;
    line-height: 27px;
    color: #fec24e;
}
.main_content .analytics .content_wrapper .section .location_stat #location_list #location #locationAddress {
    font-size: 14px;
    font-weight: 500;
}
.side_bar {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.side_bar .Progress {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
    gap:7px;
}
.side_bar .Progress #tab_header {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 600;
    padding-left: 15px;
}
.side_bar .Progress #tab_header #image_wrapper {
    width: 30px;
    height: 30px;
    background: #eee;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.side_bar .Progress #tab_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}
.side_bar .Progress #tab_content #section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
}
.side_bar .Progress #tab_content #section #section_progress {
    border: 1px solid #E4E4E4;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 10px;
    width: 200px;
    align-items: center;
    gap:15px;
}
.side_bar .Progress #tab_content #section #section_progress #card_title {
    font-size: 15px;
    font-weight: 600;
}
.side_bar .Progress #tab_content #section #section_progress #card_circle {
    position: relative;
}
.side_bar .Progress #tab_content #section #section_progress #card_circle span.label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 19px;
    font-weight: 600;
	z-index: 1;
}
.side_bar .Progress #tab_content #section #section_progress .pie {
	width: 100px;
    height: 100px;
    background: conic-gradient(#fec24e 210deg , #eaf1ff 210deg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side_bar .Progress #tab_content #section #section_progress .pie:after{
	content: "";
    width: 80%;
    height: 80%;
    position: absolute;
    box-sizing: border-box;
    border-radius: 50%;
    background: #fff;
}
.side_bar .Progress #tab_content #section #section_progress #card_desc {
    font-size: 15px;
    font-weight: 600;
    color: #345cb6;
}
.side_bar .Progress #tab_content #section .section_data_list {
    display: flex;
    gap: 10px;
}
.side_bar .Progress #tab_content #section .section_data {
	border: 1px solid #E4E4E4;
    padding: 10px;
    border-radius: 10px;
    width: 125px;
}
.side_bar .Progress #tab_content #section .section_data #card_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.side_bar .Progress #tab_content #section .section_data #card_header #value {
    font-size: 20px;
    font-weight: 600;
}
.side_bar .Progress #tab_content #section .section_data #card_content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.side_bar .Progress #tab_content #section .section_data #card_content #task_type {
    font-size: 14px;
    font-weight: 600;
    color: #ac8181;
}
.side_bar .Progress #tab_content #section .section_data #card_content #status {
    font-size: 14px;
    font-weight: 500;
    color: #C4C4C4;
}
.side_bar .Progress #tab_content #section .section_data_long {
    width: 100%;
    border: 1px solid #E4E4E4;
    border-radius: 10px;
    padding: 16PX;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 19px;
}
.side_bar .Progress #tab_content #section .section_data_long #card_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.side_bar .Progress #tab_content #section .section_data_long #card_header #value {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
}
.side_bar .Progress #tab_content #section .section_data_long #card_content {
    display: flex;
    gap: 10px;
}
.side_bar .Progress #tab_content #section .section_data_long #card_content #task_type {
    font-size: 14px;
    font-weight: 600;
    color: #ac8181;
}
.side_bar .Progress #tab_content #section .section_data_long #card_content #status {
    font-size: 14px;
    font-weight: 500;
    color: #C4C4C4;
}
.side_bar .recent_Activities {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px 30px;
    gap: 10px;
}
.side_bar .recent_Activities #tab_title {
    font-size: 15px;
    font-weight: 500;
}
.side_bar .recent_Activities #activities_list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}
.side_bar .recent_Activities #activities_list #activity {
    display: flex;
    gap: 10px;
    border: 1px solid #E4E4E4;
    padding: 10Px;
    width: 100%;
    border-radius: 10px;
    align-items: center;
}
.side_bar .recent_Activities #activities_list #activity #image_wrapper {
    border: 3px solid #E4E4E4;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.side_bar .recent_Activities #activities_list #activity #activity_info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5px;
	width: calc(100% - 90px);
    justify-content: space-between;
}
.side_bar .recent_Activities #activities_list #activity #activity_info #tab_activity {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.side_bar .recent_Activities #activities_list #activity #activity_info #tab_activity #actor_name {
    font-size: 17px;
    font-weight: 600;
}
.side_bar .recent_Activities #activities_list #activity #activity_info #tab_activity #time {
    font-size: 16px;
    color: #C4C4C4;
}
.side_bar .recent_Activities #activities_list #activity #activity_info #tab_content {
    font-size: 16px;
}