.report_client {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 490px;
    display: flex;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: 1px solid #E4E4E4;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 10Px;
}
.report_client #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0px 0px 10Px 0px;
    margin-bottom: 10px;
}
.report_client #header #title {
    font-size: 16px;
    font-weight: 500;
}
.report_client #header #btn_cancel {
    border: none;
    background: none;
    cursor:pointer;
}
.report_client #row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: fit-content;
	margin-bottom: 21px;
}
.report_client #row #title {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.report_client #row #category {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.report_client #row #category  #filter {
    padding: 9Px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    width:148px;
    font-weight: 500;
    cursor:pointer;
}
.report_client #row #category  #filter:focus{
	outline:none;
	border-color: #275efe;
}
.report_client label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}
.report_client input[type="text"]{
	border: 1px solid #E4E4E4;
    height: 40px;
    width: 270px;
    padding: 5px 15px;;
    border-radius: 5px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
.report_client input[type="text"]:focus{
	outline:none;
	border-color: #275efe;
}
.report_client textarea {
    height: 150px;
    border: 1px solid #E4E4E4;
    border-radius: 8px;
	padding: 10px;
	resize: none;
	font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
input::placeholder {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color: #C4C4C4C4;
}
.report_client textarea::placeholder {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color: #C4C4C4C4;
}
.report_client textarea:focus{
	outline:none;
	border-color: #275efe;
}
.report_client #add_files {
    border: 2px solid #0071FF;
    margin-top: 21px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    border-radius: 5px;
    padding: 0px 12px;
    cursor:pointer;
}
.report_client #add_files img{
	margin-right:10px;
}
.report_client #add_files #title {
    color: #0071FF;
    font-size: 14px;
    font-weight: 500;
}
.report_client #send_btn {
	background: #0071FF;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border: none;
    justify-content: center;
    width: 115px;
    align-self: flex-end;
    height: 35px;
    border-radius: 5px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    margin-top: 16px;
}
.report_client #send_btn img {
	margin-right:10px;
}
#Upload_refrences {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 40vw;
    height: 80vh;
    transform: translate(-50%, -50%);
    border: 1px solid #E4E4E4;
    border-radius: 5px;
}
#Upload_refrences  #tab_header {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10Px 20px;
    justify-content: space-between;
    border-bottom: 1px solid #E4E4E4;
}
#Upload_refrences  #tab_header #btn_2_cancel {
    border: none;
    background: none;
    cursor:pointer;
}
#Upload_refrences  #tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid #E4E4E4;
    padding: 0px 20px;
}
#Upload_refrences  #tabs .tab {
    margin-right: 5px;
    width: 100px;
    text-align: center;
    background: #f9f9f9;
    padding: 10px;
    cursor: pointer;
}
#Upload_refrences  #tabs .tab.active{
	border-bottom:4px solid #0071FF;
}
#Upload_refrences #pages {
    width: -webkit-fill-available;
	height: calc(80vh - 145px);
    position:relative;
    border-bottom:1px solid #E4E4E4;
}
#Upload_refrences #pages #file_page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Upload_refrences #pages #meeting_page {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
	overflow-y: overlay;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding:10px;
}
#Upload_refrences #pages #meeting_page #appt {
	display: grid;
    border: 2px solid #E4E4E4;
    padding: 5px;
    width:400px;
    border-radius: 10px;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    margin-bottom: 5px;
    cursor:pointer;
}
#Upload_refrences #pages #meeting_page #appt #time {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-right: 10px;
}
#Upload_refrences #pages #meeting_page #appt #time #start_time {
    background: #b8b08d;
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    margin-bottom: 5px;
}
#Upload_refrences #pages #meeting_page #appt #time #end_time {
    background: #e9e9e9;
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: 500;
    color: #000;
    font-size: 14px;
}
#Upload_refrences #pages #meeting_page #appt #appt_info {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 10px;
}
#Upload_refrences #pages #meeting_page #appt #appt_info #title {
    font-size: 16px;
    font-weight: 600;
}
#Upload_refrences #pages #meeting_page #appt #appt_info #subtitle {
    color: #C4C4C4;
    font-weight: 500;
    font-size: 15px;
}
#Upload_refrences #pages #meeting_page #appt #image_wrapper {
    border: 3px solid #E4E4E4;
    padding: 3px;
    border-radius: 50%;
}
#Upload_refrences #pages #meeting_page #appt #client_image {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#Upload_refrences #submit_btn_pages{
	background: #0071FF;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border: none;
    justify-content: center;
    width: 115px;
    height: 35px;
    border-radius: 5px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    margin-top: 16px;
    position: absolute;
    right: 3%;
    bottom: 1%;
}
#Upload_refrences #submit_btn_pages img{
	margin-right:10px;
}