.content .main-frame {
    width: 100%;
    height: 100%;
    background: #fff;
    margin: 20px;
    border-radius: 11px;
    padding: 10px;
}
.content .main-frame .header .left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.content .main-frame .header .left #filters {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
        margin-left: 40px;
}
.content .main-frame .header .left #filters button {
    border: 2px solid #EFEFEF;
    width: fit-content;
    background: none;
    min-width: 100px;
    padding: 0px 20px 0px 20px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
}
.content .main-frame .header .left #filters #All {
    border-radius: 10px 0px 0px 10px;
    background: rgb(246, 170, 28);
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: none;
}
.content .main-frame .header .left #filters #Completed {
    border-radius: 0px 10px 10px 0px;
}
.content .main-frame .header .right{
    background: #fff;
    display: flex;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.content .main-frame .header .right #searchBar {
	display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
}
.content .main-frame .header .right  input {
	width: 100%;
    box-sizing: border-box;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 0px 6px 6px 0px;
    color: #99a3ba;
    border: 2px solid #ededed;
    background: #F7F8FA;
    border-left: none;
}
.content .main-frame .header .right  input::placeholder {
	font-size:12px;
	font-weight:400;
	font-family: 'Poppins', sans-serif;
}
.content .main-frame .header .right  input:focus{
	outline:none;
}
.content .main-frame .header .right #searchBar img {
    border: 2px solid #ededed;
    padding: 11px 0px 11px 11px;
    border-radius: 6px 0px 0px 6px;
    border-right: none;
    background: #F7F8FA;
    width: 19px;
}
.content .main-frame .bookings {
    margin-top: 20px;
}
.content .main-frame .bookings .table-header {
    display: grid;
    height:40px;
    align-items:center;
    grid-template-rows: 1fr;
    background: #EFEFEF;
    padding: 10px;
    border-radius: 10px;
    grid-template-columns:1fr 1fr 2fr 2fr 2fr 2fr 1fr;
}
.content .main-frame .bookings .table-content .full .Booking {
    display: grid;
    grid-template-rows: 1fr;
    margin-top: 10px;
    background: #fff;
    border: 2px solid #EFEFEF;
    padding: 10px;
    height: 40px;
    cursor:pointer;
    border-radius: 10px;
    grid-template-columns: 1fr 1fr 2fr 2fr 2fr 2fr 1fr;
    align-items: center;
}
.content .main-frame .bookings .table-content .full .Booking.active{
	background: #B8B08D;
    border-radius: 10px 10px 0px 0Px;
    border: none;
    color: #fff;
    cursor:pointer;
        -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.content .main-frame .bookings .table-content .full .details.active{
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    border: 2px solid #EFEFEF;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
        -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.content .main-frame .bookings .table-content .full .details{
	display:none;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.content .main-frame .bookings .table-content .full .details #info {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 65px 65px;
}
.content .main-frame .bookings .table-content .full .details h4 {
    color: #C4C4C4;
    margin-bottom: 5px;
}