.main-frame {
    height: calc(100vh - 55px);
    width: calc(75vw - 60px);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.main-frame  .main_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.main-frame  .main_header #section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.main-frame  .main_header #section #image_wrapper {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor:pointer;
}
.main-frame  .main_header #section #title {
    font-size: 26px;
    font-weight: 600;
}
.main-frame  .main_header #section #search_bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.main-frame  .main_header #section #search_bar #search_icon_wrapper {
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 45px;
    border: 1px solid #E4E4E4;
    width: 40px;
    border-radius: 5px 0px 0px 5px;
    border-right: none;
}
.main-frame  .main_header #section #search_bar #search_field {
    height: 45px;
    width: 270px;
    border: 1px solid #E4E4E4;
    border-radius: 0px 5px 5px 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    border-left: none;
    padding: 0px 10px;
}
.main-frame .filters {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0px 20px;
    gap: 50px;
    	transition:all 0.3s linear; 
	-o-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear; 
	-webkit-transition:all 0.3s linear;
}
.main-frame .filters.active{
	height:0px;
	overflow:hidden;
	padding:0px;
		transition:all 0.3s linear; 
	-o-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear; 
	-webkit-transition:all 0.3s linear;
}
.main-frame .filters .tile {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.main-frame .filters .tile #tile_header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.main-frame .filters .tile #tile_header label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #818181;
}
.main-frame .filters .tile #tile_header #filter_header {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 200px;
    justify-content: space-between;
    padding: 5px 10px;
    border: 1px solid #E4E4E4;
    background: #fff;
    border-radius: 10px;
    height: 45px;
    cursor: pointer;
}
.main-frame .filters .tile #tile_header #filter_header #section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
}
.main-frame .tags_list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
    font-size: 15px;
    padding: 10px 20px;
    font-weight: 500;
    position:relative;
    	transition:all 0.3s linear; 
	-o-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear; 
	-webkit-transition:all 0.3s linear;
}
.main-frame .tags_list.active{
	height:0px;
	overflow:hidden;
	padding:0px;
		transition:all 0.3s linear; 
	-o-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear; 
	-webkit-transition:all 0.3s linear;
}
.main-frame .tags_list .add_tag_list {
    border: 1px solid #E4E4E4;
    background: #fff;
    padding: 10px;
    width:300px;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 10px;
    position: absolute;
    height: 150px;
    top: 90%;
}
.main-frame .tags_list .add_tag_list #tab_header {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}
.main-frame .tags_list .add_tag_list #tag_list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10Px;
    padding: 10px;
}
.main-frame .tags_list .add_tag_list #tag_list #tag_select {
    background: #C5DCFA;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.main-frame .tags_list img {
	cursor:pointer;
}
.main-frame .tags_list .new_tag {
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background: #fff;
    padding: 7px 16px;
    border: 1px solid #e4E4E4;
    border-radius: 5px;
    cursor:pointer;
}
.main-frame .tags_list #tag {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: #fff;
    padding: 7px 16px;
    border: 1px solid #E4E4E4;
    border-radius: 7px;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.main-frame .tags_list #tag #cancel{
	visibility:hidden;
}
.main-frame .tags_list #tag:hover {
	border-color:#0071ff;
	color:#0071ff;
	font-weight:600px;
}
.main-frame .tags_list #tag:hover > #cancel{
	visibility:visible;
}
.main-frame .bookings_List {
    height: calc(100vh - 250px);
    overflow-y: overlay;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.main-frame .bookings_List #BookingTile {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    gap: 15px;
    margin-bottom: 10px;
}
.main-frame .bookings_List #BookingTile #header_date {
    font-size: 14px;
    font-weight: 500;
    color: #818181;
}
.main-frame .bookings_List #BookingTile #booking_tile_content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}
.main-frame .bookings_List #BookingTile #booking_tile_content #booking {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    justify-items: start;
    cursor:pointer;
    background: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #E4E4E4;
}
.main-frame .bookings_List #BookingTile #booking_tile_content #booking #booking_info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}
.main-frame .bookings_List #BookingTile #booking_tile_content #booking #booking_info #image_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
}
.main-frame .bookings_List #BookingTile #booking_tile_content #booking #booking_info #text_wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.main-frame .bookings_List #BookingTile #booking_tile_content #booking #booking_info #text_wrapper #car_name {
	font-size: 16px;
    font-weight: 600;
    line-height: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    min-width: 150px;
}
.main-frame .bookings_List #BookingTile #booking_tile_content #booking #booking_info #text_wrapper #agency_name {
	font-size: 15px;
    font-weight: 500;
    color: #818181;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    min-width: 150px;
}
.main-frame .bookings_List #BookingTile #booking_tile_content #booking #type {
    border: 2px solid #E4E4E4;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
}
.main-frame .bookings_List #BookingTile #booking_tile_content #booking #location {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
}
.main-frame .bookings_List #BookingTile #booking_tile_content #booking #date {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}
.main-frame .bookings_List #BookingTile #booking_tile_content #booking #date #date_range {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 500;
}
.main-frame .bookings_List #BookingTile #booking_tile_content #booking #payment {
    background: #d2cf9f;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}
.sidebar {
	width: calc(25vw - 15px);
    height: calc(100vh - 75px);
    background: #fff;
    margin: 10px 10px 10px 5px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.sidebar .upcoming_bookings {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px 20px;
	border-bottom: 1px solid #E4E4E4;
}
.sidebar .upcoming_bookings #tab_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.sidebar .upcoming_bookings #tab_header #title {
    font-size: 17px;
    font-weight: 600;
    color: #2d2d2d;
}
.sidebar .upcoming_bookings #tab_header #filter {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.sidebar .upcoming_bookings #tab_header #filter #filter_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10Px;
    border: 2px solid #E4E4E4;
    padding: 7px 5px;
    border-radius: 5px;
    cursor: pointer;
}
.sidebar .upcoming_bookings #tab_header #filter #filter_header #section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 500;
}
.sidebar .upcoming_bookings #tab_content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5px;
	padding: 10px 0px;
}
.sidebar .upcoming_bookings #tab_content #booking {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10Px;
}
.sidebar .upcoming_bookings #tab_content #booking #image_wrapper {
    width: 75px;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 9px;
}
.sidebar .upcoming_bookings #tab_content #booking #text_wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: calc(100% - 75px);
    gap: 10px;
}
.sidebar .upcoming_bookings #tab_content #booking #text_wrapper #row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.sidebar .upcoming_bookings #tab_content #booking #text_wrapper #row #car_name {
    font-size: 16px;
    font-weight: 600;
}
.sidebar .upcoming_bookings #tab_content #booking #text_wrapper #agency_name {
    font-size: 16px;
    font-weight: 500;
    color: #C4C4C4;
    cursor: pointer;
    line-height: 12px;
}
.sidebar .upcoming_bookings #tab_content #booking #text_wrapper #row #payment {
    background: #d2cf9f;
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}
.sidebar .Popular_cars {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-bottom: 1px solid #E4E4E4;
    padding-bottom: 10px;
}

.sidebar .Popular_cars #tab_header {
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 600;
    color: #2d2d2d;
}
.sidebar .Popular_cars #car {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0px 20px;
    margin-bottom: 10px;
}
.sidebar .Popular_cars #car #image_wrapper {
    border-radius: 10px;
    overflow: hidden;
    width: 75px;
    height: 50px;
}
.sidebar .Popular_cars #car #car_info {
    display: flex;
    flex-direction: column;
    width: calc(100% - 85px);
    flex-wrap: nowrap;
}
.sidebar .Popular_cars #car #car_info #tile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.sidebar .Popular_cars #car #car_info #tile #car_name {
    font-size: 17px;
    font-weight: 600;
}
.sidebar .Popular_cars #car #car_info #tile #likes {
    font-size: 15px;
    font-weight: 500;
    color: #C4C4C4;
}
.sidebar .Popular_cars #car #car_info #address {
    font-size: 15px;
    font-weight: 500;
    color: #C4C4C4;
    width: fit-content;
}
.sidebar .follow_agencies {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.sidebar .follow_agencies #tab_header {
    font-size: 17px;
    font-weight: 600;
    color: #2d2d2d;
    padding: 10px 0px;
}
.sidebar .follow_agencies #tab_content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
	gap: 25px;
}
.sidebar .follow_agencies #tab_content #agency {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}
.sidebar .follow_agencies #tab_content #agency #image_wrapper {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: 0px 4px 20px 0px #efefef;
    overflow: hidden;
}
.sidebar .follow_agencies #tab_content #agency #text_wrapper {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: calc(100% - 85px);
}
.sidebar .follow_agencies #tab_content #agency #text_wrapper #row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
}
.sidebar .follow_agencies #tab_content #agency #text_wrapper #row #agency_name {
    font-size: 16px;
    font-weight: 600;
}
.sidebar .follow_agencies #tab_content #agency #text_wrapper #row #follow_count {
    font-size: 15px;
    font-weight: 500;
    color: #C4C4C4;
}
.sidebar .follow_agencies #tab_content #agency #text_wrapper #address {
    font-size: 14px;
    font-weight: 500;
    color: #C4C4C4;
}
.sidebar .follow_agencies #tab_content #agency #text_wrapper #follow {
    background: #fec04d;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    border: none;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-top:10px;
}
.details_wrapper {
    position: absolute;
    top: 0%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
	transition: all 0.5s ease;
}
.details_wrapper #wrapper {
    width: 100vw;
    height: 100vh;
    background: #818181;
    opacity: 0.3;
	transition: all 0.5s ease;
}
.details_wrapper .details_banner.active{
	margin-right: -24vw;
	transition: all 0.5s ease;
}
.details_wrapper .details_banner {
    position: absolute;
    width: 24vw;
    align-self: flex-end;
    background: #fff;
    margin: 10px;
    border: 1px solid #E4E4E4;
    height: calc(100vh - 20px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-right:0px;
    transition: all 0.5s ease;
}
.details_wrapper .details_banner #banner_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
	padding: 15px;
}
.details_wrapper .details_banner #banner_header #icon_wrapper {
    width: 30px;
    height: 30px;
    background: #eee;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}
.details_wrapper .details_banner #banner_header #text_block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.details_wrapper .details_banner #banner_header #text_block #date {
    font-size: 15px;
    font-weight: 500;
}
.details_wrapper .details_banner #banner_header #text_block #details {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}
.details_wrapper .details_banner #banner_header #text_block #details #Price {
    font-size: 22px;
    font-weight: 600;
}
.details_wrapper .details_banner #banner_header #text_block #details #status {
    background: #28ffaf;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
}
.details_wrapper .details_banner .card_container{
	transform-style: preserve-3d;
    transition: all 0.5s ease;
    height: 320px;
}
.details_wrapper .details_banner .payment_info{
	    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background:#f9f9f9;
    padding: 10px;
    margin: 0px 15px;
    position: absolute;
    border-radius: 10px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.details_wrapper .details_banner .payment_info #tab_title {
    font-size: 16px;
    font-weight: 500;
}
.details_wrapper .details_banner .payment_info #footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.details_wrapper .details_banner .payment_info #footer #icon_wrapper {
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    background: #d4d4d4;
    position: absolute;
    bottom: 19Px;
}
.details_wrapper .details_banner .booking_info {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: #f1f0f0;
    padding: 10px;
    margin: 0px 15px;
    border-radius: 10px;
    position: absolute;
    width: -webkit-fill-available;
    backface-visibility: hidden;
}
.details_wrapper .details_banner .booking_info #tab_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
	margin-bottom: 15px;
}
.details_wrapper .details_banner .booking_info #tab_header #left {
   	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: fit-content;
    font-size: 14px;
    font-weight: 500;
    color: #8052e9;
    cursor: pointer;
}
.details_wrapper .details_banner .booking_info #tab_header #left #location {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    cursor: unset;
}
.details_wrapper .details_banner .booking_info #tab_header #right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
}
.details_wrapper .details_banner .booking_info #tab_header #right #date {
    display: flex;
    gap: 6px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
	font-size: 14px;
    font-weight: 500;
}
.details_wrapper .details_banner .booking_info #tab_header #right #pick_up_date {
    font-size: 15px;
    font-weight: 500;
}
.details_wrapper .details_banner .booking_info #tab_content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}
.details_wrapper .details_banner .booking_info #tab_content #tile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #bebebe;
    padding-bottom: 10px;
}
.details_wrapper .details_banner .booking_info #tab_content #tile #left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.details_wrapper .details_banner .booking_info #tab_content #tile #left #title {
    font-size: 15px;
    font-weight: 500;
    color: #9e9e9f;
}
.details_wrapper .details_banner .booking_info #tab_content #tile #left #value {
    font-size: 16px;
    font-weight: 500;
}
.details_wrapper .details_banner .booking_info #tab_content #tile #price {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
}
.details_wrapper .details_banner .booking_info #tab_content #tile #value {
    font-size: 19px;
    color: #000000;
    font-weight: 600;
    line-height: 18px;
}
.details_wrapper .details_banner .booking_info #tab_content #tile #price #per_day {
    font-size: 14px;
    font-weight: 500;
    color: #818181;
}
.details_wrapper .details_banner .booking_info #tab_content #total {
    margin: 10px 0px;
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    font-weight: 700;
}
.details_wrapper .details_banner .booking_info #tab_content #footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.details_wrapper .details_banner .booking_info #tab_content #footer #icon_wrapper {
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    background: #d4d4d4;
}
.details_wrapper .details_banner .contract_list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 15px;
    padding: 10px;
}
.details_wrapper .details_banner .contract_list #tab_title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}
.details_wrapper .details_banner .contract_list #contract {
    width: 80px;
    height: 100px;
    border: 3px solid #d6d5d5;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 3px 20px 0px #d1d1d1;
    cursor: pointer;
}
.card{
  	width: 280px;
    height: 160px;
    margin: 10px 20px;
    border-radius: 15px;
    z-index: 1;
	margin-top: 25px;
    position: relative;
    box-shadow: -1px 10px 20px 6px #a9a9a9;
}
.card_info{
	padding: 25px 15px;
    position: relative;
    height: 100%;
    text-shadow: 7px 6px 10px rgb(14 42 90 / 80%);
    user-select: none;
}
.card_top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 10px;
}
.item_chip {
    width: 27px;
}
.item_type {
    height: 27px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    max-width: 100px;
    margin-left: auto;
    width: 100%;
    align-items: center;
}
img.item_typeImg {
    width: 27px;
}
.item_typeImg {
    max-width: 100%;
    object-fit: contain;
    max-height: 100%;
    object-position: top right;
}
.card_number {
	display: flex;
    color: #fff;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 23px;
    padding: 10px;
    justify-content: center;
    line-height: 16px;
    font-weight: 600;
    text-align: center;
}
.card_number span{
	margin-top:10px;
}
.item_bottom {
    display: flex;
    color: #fff;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0px 20px;
}
.card .card_info #holder {
    font-size: 13px;
    color: #cecece;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    font-weight: 500;
    gap: 5px;
}
.card .card_info  #holder_full_name {
    font-size: 14px;
    color: #fff;
}
.card .card_info  #card_Expiry_date {
	font-size: 13px;
    color: #cecece;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    font-weight: 500;
    gap: 5px;
}
.card .card_info  #card_expiry_date {
    font-size: 14px;
    color: #fff;
}