.main-frame {
    height: calc(100vh - 55px);
    width: calc(75vw - 50px);
    padding: 10px;
}
.main-frame  #tab_header {
    padding-bottom: 10px;
}
.main-frame  #tab_header #title {
    font-size: 20px;
    font-weight: 600;
    width: fit-content;
}
.main-frame .calendar_frame {
	background: #fff;
    height: calc(100% - 45px);
    width: 100%;
    border: 2px solid #E4E4E4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.main-frame .calendar_frame #calendar_header {
    padding: 10px;
    display: flex;
    border-bottom: 2px solid #E4E4E4;
    flex-direction: row;
    flex-wrap: nowrap;
	justify-content: space-between;
}
.main-frame .calendar_frame #calendar_header #calendar_month {
    font-size: 17px;
    font-weight: 600;
    border: 2px solid #E4E4E4;
    padding: 4px 15px;
    border-radius: 7px;
}
.main-frame .calendar_frame #calendar_header .nav_btn {
    border: 2px solid #E4E4E4;
    background: none;
    padding: 5px 14px;
    border-radius: 5Px;
    cursor: pointer;
}
.main-frame .calendar_frame #calendar_content {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 100%;
    height: -webkit-fill-available;
	overflow-y: overlay;
}
.main-frame .calendar_frame #calendar_content #day {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
	border-right: 2px solid #E4E4E4;
}
.main-frame .calendar_frame #calendar_sec_header {
    display: grid;
    border-bottom: 2px solid #E4E4E4;
    grid-template-columns: repeat(5,1fr);
}
.main-frame .calendar_frame #calendar_sec_header #day_count {
    border-right: 2px solid #E4E4E4;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}
.main-frame .calendar_frame #calendar_content #day #day_calendar {
    width: -webkit-fill-available;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(8,1fr);
}
.main-frame .calendar_frame #calendar_content #day #day_calendar #tile {
	padding: 0px 0px 10px;
    border-bottom: 2px solid #E4E4E4;
    height: auto;
}
.main-frame .calendar_frame #calendar_content #day #day_calendar #tile #time {
    font-size: 13px;
    font-weight: 500;
    color: #C4C4C4;
}
.main-frame .calendar_frame #calendar_content #day #day_calendar #tile_content {
    width: auto;
    height: calc(100% - 20px);
    display: grid;
    grid-template-rows: repeat(4,1fr);
}
.main-frame .calendar_frame #calendar_content #day #day_calendar #tile_content #appt {
    display: flex;
    flex-direction: row;
    margin: 2px 5px;
    padding: 0px 5px;
    border-radius: 10px;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
    justify-content: space-around;
    border: 2px solid #E4E4E4;
}
.main-frame .calendar_frame #calendar_content #day #day_calendar #tile_content #appt #appt_info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-right: 10px;
}
.main-frame .calendar_frame #calendar_content #day #day_calendar #tile_content #appt #appt_info #title {
    font-size: 15px;
    font-weight: 600;
}
.main-frame .calendar_frame #calendar_content #day #day_calendar #tile_content #appt #appt_info #subtitle {
    font-size: 14px;
    font-weight: 500;
    color: #C4C4C4;
}
.main-frame .calendar_frame #calendar_content #day #day_calendar #tile_content #appt #appt_image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}