@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
html{
	font-family: 'Poppins', sans-serif;
}
.signature{
	background: #fff;
    border-radius: 5px;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #E4E4E4;
}
.signature #tab_header {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 600;
}
.signature #tabs {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 40px;
    align-items: center;
    gap: 25px;
    border-bottom: 1px solid #E4E4E4;
    box-shadow: 0px 6px 6px 0px #fbfbfb;
    padding: 0px 20px;
}
.signature #tabs .tab {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid #fff;
}
.signature #tabs .tab.active{
	border-bottom : 2px solid #0071ff;
}
.signature .signature_content {
    position: relative;
}
.signature .signature_content .signature_form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 20px;
    align-items: center;
}
.signature .signature_content .upload_form {
    position: absolute;
	visibility: hidden;
    top: 50%;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border: 2px dashed #bebdbd;
    left: 50%;
    transform: translate(-50%, -50%);
}
.signature #cta {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 10Px;
}
.signature #cta #cancel {
    width: 80px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #E4E4E4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}
.signature #cta #accept {
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    background: #0071ff;
    color: #fff;
}