.toggle-check{
	position: relative;
    overflow: hidden;
    width: 55px;
    height: 28px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.toggle-check input[type="checkbox"]{
  z-index:3;
  opacity:0;
  cursor:pointer;
  width:100%;
}

.toggle-check input, .toggle-check span.toggle-bg{
  position:absolute;
  display:block;
  width:100%;
  height:100%;
}

.toggle-check span.toggle-bg{
  z-index:1;
  border-radius:10px;
  background-color:#fff;
  border:1px solid #E4E4E4;

}

.toggle-check span.toggle-b{
	display: block;
    width: 1.4em;
    height: 1.4em;
    left:27px;
    background:#0071ff;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    -webkit-box-shadow: 0px 0px 0.4em rgb(0 0 0 / 40%);
	box-shadow:  0px 0px 0.4em rgba(0, 0, 0, 0.4);
}

.toggle-check input:checked ~ span.toggle-bg{
  background-color:#fff;
}

.toggle-check input:checked ~ span.toggle-b{
  margin-left: -20Px;
  background: #343434;
}

.toggle-check span{
  -webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}